@import '@fortawesome/fontawesome-free/css/all.css';

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Additional CSS */
/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Merriweather', serif; /* Use a calming serif font */
  background-color: #f7f1e1; /* Soft, light cream color */
  color: #4f4a41; /* Warm gray text color */
  line-height: 1.6;
  padding: 20px;
  margin: 0;
}

h1 {
  font-family: 'Dancing Script', cursive; /* A nice handwritten script for headings */
  font-size: 3rem;
  color: #a49a77; /* Muted gold color */
  text-align: center;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left; /* Left-align the links */
}

li {
  margin: 10px 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #6b8e23; /* Olive green */
  transition: color 0.3s ease;
  border-bottom: 2px solid transparent;
}

a:hover {
  color: #8b5e3c; /* Muted brown on hover */
}

@media (min-width: 600px) {
  body {
    margin: 0 auto;
  }
}

.toggle-button {
  background: none;
  border: 0px solid #333; /* Smaller border */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer;
  margin-left: 0px;
  padding: 0px 6px; /* Add some space around the button */
  font-size: 1.2em;
  color: #333;
}

.toggle-button:focus {
  outline: none;
}

/* Indent the stories revealed by the toggle button */
.indented-stories {
  padding-left: 20px; /* Add padding to indent */
}

h2 {
  text-align: left;
  margin-left: 0px; /* Align with uncategorized list items */
}

.indented-stories {
  padding-left: 40px; /* Indent the stories within the h2 */
}

.about {
  text-align: justify;
}

.about > p {
  padding-top: 10px;
}
